.options {
  border: 0.3rem solid black;
  border-radius: 1rem;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 2px 4px 8px;
}
.options-form {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.options-btn {
  background-color: rgb(13, 37, 173);
  padding: 1rem 1rem;
  font-size: 1.6rem;
  color: white;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 2px 4px 10px black;
}

.options-btn:active {
  box-shadow: none;
}

.info-container-title {
  font-size: 2rem;
  font-weight: 400;
}

.option-container-item,
.info-container-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container-input {
  border: none;
  border-bottom: 2px solid;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.info-container-label {
  display: block;
  visibility: hidden;
  margin-top: 1rem;
  color: #ff5f6d;
}

.visible-label {
  visibility: visible;
}
.info-container-input::placeholder {
  color: rgb(177, 173, 173);
}

.info-container-input:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .options {
    width: 90%;
  }
  .options-form {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .option-container-item {
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
  }
  .info-container-title {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .info-container-input {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .info-container-title {
    padding: 0;
  }

  .options-btn {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  .option-separator {
    width: 70%;
    margin: 1rem 0;
    border-top: 0.1rem solid #ff5f6d;
  }

  .info-container-label {
    text-align: left;
    color: #ff5f6d;
    margin: 0;
  }
}
