.video-player {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

video {
  height: 40vh;
}

.video-container {
  background-color: white;
  padding: 1rem 0.8rem;
  margin: 2rem;
  border: solid 3px black;
  box-shadow: 2px 4px 8px black;
}

.video-player-name {
  margin-bottom: 0.5rem;
}
